@import "tailwindcss";

@layer base {
  :root {
    --foreground: #000000;
    --primary: #8E1616;
    --beige: #E8C999;
    --background: #F8EEDF;
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-heading: var(--font-instrument-sans);
    --font-body: var(--font-karla);
  }

  body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-body);
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-heading);
    font-weight: 800;
  }
}

@layer components {
  button {
    cursor: pointer;
  }

  .navbar-link {
    color: black;
    transition: color 0.3s;
    font-weight: 500;
  }

  .navbar-link:hover {
    color: var(--primary);
  }

  .secondary-button {
    padding: .75rem 2rem;
    border-radius: 10px;
    background-color: var(--beige);
    color: var(--foreground);
    transition: all 0.3s;
    font-weight: 600;
    cursor: pointer;
  }

  .secondary-button:hover {
    background-color: color-mix(in srgb, var(--beige) 75%, transparent);
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    cursor: pointer;
  }

  .primary-button {
    padding: .75rem 2rem;
    border-radius: 10px;
    background-color: var(--primary);
    color: var(--background);
    transition: all 0.3s;
    font-weight: 600;
    cursor: pointer;
  }

  .primary-button:hover {
    background-color: color-mix(in srgb, var(--primary) 75%, transparent);
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  }
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(20px) scale(0.95);
  }
  50% {
    opacity: 1;
    transform: translateY(-10px) scale(1.02);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes slideDown {
  0% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
  50% {
    opacity: 0.5;
    transform: translateY(10px) scale(0.98);
  }
  100% {
    opacity: 0;
    transform: translateY(20px) scale(0.95);
  }
}